    /*general rules*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    user-select: none;
}

body {
    font-family: 'Lato', sans-serif;
}

    /*title*/

#page-title{
    text-align: center;
    margin: 20px;
}

#subtitle {
    margin: 10px;
    color: rgb(97, 97, 97);
}

    /*main*/

.explanation {
    width: 60%;
    text-align: center;
    margin: 15px auto;
}

.explanation * {
    padding: 5px;
}

.instructions {
    color: gray;
    font-size: smaller;
}

#container {
    margin: auto;
    width: 80%;
}

    /*grid container*/

#grid-explanation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
    background-color: #d3c3c333;
    border-radius: 15px;
}

.step-by-step {
    width: 20%;
    margin: 10px;
    background-color: rgba(223, 251, 255, 0.788);
    border-radius: 15px;
    position: relative;
    object-fit: cover;
}

.step-by-step img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.step-by-step span {
    /* opacity: 0%; */
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

    /*on :hover do visibliltà al testo e opacità all'imagine*/

#box-step1:hover #text-step1, #box-step2:hover #text-step2, #box-step3:hover #text-step3, #box-step4:hover #text-step4, 
#box-step5:hover #text-step5, #box-step6:hover #text-step6, #box-step7:hover #text-step7, #box-step8:hover #text-step8 {
    opacity: 100%;
    transition: opacity 0.5s;
}

#box-step1:hover #img-step1, #box-step2:hover #img-step2, #box-step3:hover #img-step3, #box-step4:hover #img-step4, 
#box-step5:hover #img-step5, #box-step6:hover #img-step6, #box-step7:hover #img-step7, #box-step8:hover #img-step8  {
    opacity: 40%;
    transition: opacity 0.5s;
}

#box-step1:hover, #box-step2:hover, #box-step3:hover, #box-step4:hover, 
#box-step5:hover, #box-step6:hover, #box-step7:hover, #box-step8:hover  {
    box-shadow: 0px 0px 20px rgba(0, 179, 211, 0.925);
    transition: box-shadow 0.5s;
}

    /*on not:(over) transiziono sulle opacità precendenti*/

#box-step1:not(hover) #text-step1, #box-step2:not(hover) #text-step2, #box-step3:not(hover) #text-step3, #box-step4:not(hover) #text-step4, 
#box-step5:not(hover) #text-step5, #box-step6:not(hover) #text-step6, #box-step7:not(hover) #text-step7, #box-step8:not(hover) #text-step8 {
    opacity: 0%;
    transition: opacity 1s;
}

#box-step1:not(hover) #img-step1, #box-step2:not(hover) #img-step2, #box-step3:not(hover) #img-step3, #box-step4:not(hover) #img-step4, 
#box-step5:not(hover) #img-step5, #box-step6:not(hover) #img-step6, #box-step7:not(hover) #img-step7, #box-step8:not(hover) #img-step8  {
    opacity: 100%;
    transition: opacity 1s;
}

#box-step1:not(hover), #box-step2:not(hover), #box-step3:not(hover), #box-step4:not(hover), 
#box-step5:not(hover), #box-step6:not(hover), #box-step7:not(hover), #box-step8:not(hover)  {
    box-shadow: 0px 0px 0px transparent; 
    transition: box-shadow 0.5s;  
}

    /* esempi variabili*/

#clothes-example, #dishes-example {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    position: relative;
}

#clothes-example img, #dishes-example img {
    width: 15%;
}

#hidden-example-1, #hidden-example-2 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    opacity: 0;
}

#clothes-example:hover #hidden-example-1, #dishes-example:hover #hidden-example-2 {
    opacity: 100;
    transition: opacity 0.5s;
}

#clothes-example:hover, #dishes-example:hover {
    background-color: #FFE3DF;
    box-shadow: 0px 0px 15px rgb(182, 124, 124);
    transition: background-color 1.5s, box-shadow 0.5s;
}

#clothes-example:not(hover) #hidden-example-1, #dishes-example:not(hover) #hidden-example-2 {
    opacity: 0;
    transition: opacity 0.5s;
}

#clothes-example:not(hover), #dishes-example:not(hover) {
    background-color: rgba(248, 218, 218, 0.137);
    box-shadow: none;
    transition: background-color 1.5s, box-shadow 0.5s;
}

    /* Type of Data */

#type-of-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #left-side {
    width: 100%;
} */

#right-side img{
    width: 55%;
}

#type-of-data:hover #left-side {
    
}